*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}



body{
    background-color: rgb(97, 88, 88);
    font-size: 14px;
    line-height: 22px;
}
.resume{
width:800px;
height:auto ;
display:flex ;
margin: 50px auto;
text-align: center;

}
